<div class="row justify-content-center" id="commands-st" style="margin-top: 20px;">
   <div class="col-sm-12">
     <ul class="list-group" id="general">
         <li class="list-group-item list_header" style="font-weight: bold">General</li>
         <li class="list-group-item">Yes <span class="badge">Y</span></li>
         <li class="list-group-item">No <span class="badge">U</span></li>
         <li class="list-group-item">Maybe <span class="badge">I</span></li>
         <li class="list-group-item">Okay <span class="badge">O</span></li>
         <li class="list-group-item">Mm <span class="badge">P</span></li>
         <li class="list-group-item">Mhm <span class="badge">º</span></li>
     </ul>
   </div>

</div>
