{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-5 col-xs-offset-5">
        <div class="btn-group" role="group" id="naver" style="margin-left: auto; margin-right: auto;">
            <a href="#keybord-input" type="button" class="change-pane btn btn-primary" data-page="flow-utt">Flow utterances</a>
            <a href="#typed-input" type="button" class="change-pane btn btn-primary" data-page="typed-input">Own utterances</a>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="col-sm-12">
          <!-- Tab panes -->
      <div class="tab-content utt">
        <div role="tabpanel" class="tab-pane active" id="flow-utt">
            {% include 'pages/flow-utt.html' %}
        </div>
      </div>
    </div>
</div>

<div class="col-sm-6">
  <div role="tabpanel" class="tap-pane" id="typed-input">
    {% include 'pages/chat_window.html' %}
  </div>
    <!--<video id="video" width="640" height="480" autoplay></video>-->
        <!--<canvas id="canvas" width="640" height="480"></canvas>-->
</div>



{% endblock %}
