<html>
    <head>
		<script type="text/javascript" charset="utf-8">
    var current_story = 0;
		var textarea = $('#text');

    function refreshTypingStatus() {
			if (new Date().getTime() - lastTypedTime.getTime() > typingDelayMillis) {
				$("#text").attr("placeholder", "Enter your message here");
				$("#text").removeAttr('disabled');
				$("#partner-typing").text("");

			}

		}

    socket = io.connect(window.location.href);
    socket.emit('join');

    socket.on('waiting', function(data) {
      if (data==true){
      window.location.href = window.location.origin;
      }
    });

    socket.on('message', function(data){
      console.log(data);
      displayText(data);

    });

    function displayText(data) {
      var message = data['msg'];
      console.log(data)
      if (data['role']== "user"){
        $('#chat').append('<hgroup class="speech-bubble-right"><p class="text-left" style="font-size:14pt;padding-right: 10px;padding-left: 10px;">'+data['msg-no-role']+'</p></hgroup>');
      } else if (data['role']=="status"){
        $('#chat').append('<p style="font-size:12pt;">'+message+'</p>');
			} else {
				$('#chat').append('<hgroup class="speech-bubble-left"><p class="text-left" style="font-size:14pt;padding-right: 10px;padding-left: 10px;">'+message+'</p></hgroup>');
			};

      $('#chat').scrollTop($('#chat')[0].scrollHeight);
    }
    </script>
    <script type="text/javascript" src="static/js/text-input-events.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body oncopy="return false" oncut="return false" onpaste="return false">
    <div id="main-window" class="container-fluid" style="height:100%;" ></div>
    <div class="row" style="height:75%;">
      <div class="col-6" id="chat-column" style="height:100%;margin-top: 3.375rem;">
				{% include 'pages/chat_window.html' %}
			</div>
		</div>
  </body>
</html>
